@tailwind base;
@tailwind components;
@tailwind utilities;

.post-content p{
    margin-bottom: 0.5;

}

.post-content h1{
    font-size: 1.5rem;
    font-weight: 600;
}
.post-content h2{
    font-size: 1.4rem;
   
    font-family: 'sans-serif';
    margin:1.5rem 0;
}
.post-content a{
    color: rgb(11, 132, 189);
    text-decoration: none;
}
.post-content a:hover{
    text-decoration: underline;
}
.dark .post-content a{
    color: red;
}